.careers {
  .thecontent {
    float: none;

  }
  .jobs {
    h2.nojobs {
      text-align: center;
      margin: 80px 0;
      font-size: 36px;
      color: $main_purple;
    }
    .jobtitle {
      background: #f9f9f9;
    }
    .jobrow {
      background: #f9f9f9;
      text-align: left;
      margin-bottom: 20px;
      padding: 30px 20px;
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 40px;
      }
      .job {
        button, a.button {
          width: 200px;
          display: block;
        }
        ul {
          padding: 0 0 0 15px;
          li {
            list-style: disc;
          }
        }
        .wpcf7 {
          display: none;
          .inputwrapper {
            padding: 0;
          }
          #secondInput {
            @media (min-width: $screen-md) {
              padding: 0 5px;
            }
          }
          input, textarea {
            margin: 5px 0;
            padding: 5px;
            border: #dadada 2px solid;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              text-transform: uppercase;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              text-transform: uppercase;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              text-transform: uppercase;
            }
            &:-moz-placeholder { /* Firefox 18- */
              text-transform: uppercase;
            }
            @media (min-width: $screen-md) {
              margin: 5px;
            }
          }

          input[type="file"] {
            display: none;
          }
          .attachcvBtn {
            display: block;
            cursor: pointer;
            br{
              display: none;
            }
          }
          input[type="submit"], a.button{
            border: none;
            padding: 8px 10px;
            width: 100%;
            margin: 5px;
            @media (min-width: $screen-md) {
              max-width: 200px;
            }
          }
        }
        .wpcf7-validation-errors , .wpcf7-mail-sent-ok {
          display: block;
          border: 2px solid $selected_purple;
          background: #8b003d;
          color: #ffffff;
          float: left;
          margin: 0 19px;
        }

      }

    }
  }
}