
.backgroundImage{
  background: linear-gradient($main_purple, #230931) no-repeat;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
  #nav-bar {
    height: auto;
    z-index: 5;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    @media (min-width: $screen-sm) {
      position: absolute;
    }


    .container{
      background: linear-gradient($main_purple, #230931) no-repeat;
      padding: 10px 15px;
      overflow: hidden;
      .row {
        position: relative;
      }
    }
      #logo{
        max-width: 197px;
        margin: 0 5px;
        float: left;
        position: relative;
        width: 100%;
      }
      .headerButtons {
        margin: 5px 0 ;
        float: right;
        display: block;
        .glyphicon-menu-hamburger, .glyphicon-search {
          color: #fff;
          font-size: 19px;
          position: relative;
          margin: 0 5px;
        }
        .glyphicon-search{
          margin-right: 10px;
        }
      }
      #navigation-menu {
        display: none;
        margin-top: 10px;
        ul{
          overflow: hidden;
          position: relative;
          display: block;
          width: 100%;
          padding: 0;
          li {
            font-size: 16px;
            padding: 7px 0;
            text-align: center;
            a {
              color: #fff;
              position: relative;
              display: block;
              width: 35%;
              margin: 0 auto;
              &:hover, &:focus {
                text-decoration: none;
              }

              &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                transition: width 0s ease, background .5s ease;
              }
              &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background: #ffffff;
                transition: width .5s ease;
              }
              @media (min-width: $screen-md) {
                &:hover:before {
                  width: 100%;
                  background: #ffffff;
                  transition: width .5s ease;
                }
                &:hover:after {
                  width: 100%;
                  background: transparent;
                  transition: all 0s ease;
                }
              }

            }
            &.current-menu-item, &.current-page-ancestor {
              a{
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  height: 3px;
                  width: 100%;
                  transition: width 0s ease;
                }
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  height: 3px;
                  width: 100%;
                  background: $selected_purple;
                  transition: width .5s ease;
                }
                &:hover:before {
                  width: 0;
                  background: $selected_purple;
                  transition: width .5s ease;
                }
                &:hover:after {
                  width: 0;
                  background: $selected_purple;
                  transition: all 0s ease;
                }


              }


            }

          }

        }
        @media (min-width: $screen-md){
          display: block;
          ul {
            li {
              width: auto;
              display: block;
              padding: 0 10px;
              float: left;
              a {
                width: 100%;
                margin: auto;

              }
            }
          }
        }
      }
      .searchForm {
        position: relative;
        color: #ffffff;
        margin: 7px auto;
        display: none;
        float: none;
        -moz-transition: width .4s linear;
        -webkit-transition: width .4s linear;
        -o-transition: width .4s linear;
        transition: width .4s linear;
        z-index: 3;
        form {

          input {
            padding: 5px 10px;
            background: none;
            border: none;
            font-size: 16px;
            width: 80%;

            &:focus {
              outline: rgba(255, 255, 255, 0.6) 1px solid;
            }
            &::-webkit-input-placeholder {
              color: #ffffff;
            }
            &::-moz-placeholder {
              color: #ffffff;
            }
            &:-moz-placeholder {
              /* Older versions of Firefox */
              color: #ffffff;
            }
            &:-ms-input-placeholder {
              color: #ffffff;
            }


          }
          button#searchsubmit {
            position: relative;
            padding: 0;
            background: none;
            top: 3px;
            &:hover {
              background: none;
            }
          }
        }
        @media (min-width:$screen-md) {
          display: block;
          float: right;

        }
        @media (min-width: $screen-lg) {
          position: absolute;
          top: -15px;
          right: 0;
          height: 141%;
          width: 130px;
          padding-top: 13px;
          //background: #190624;
          //-webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
          //clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
          //
          &:before {
            content: "";
            position: absolute;
            width: 169%;
            height: 319%;
            top: -29%;
            left: 2%;
            z-index: -1;
            background: #190624 0 200px no-repeat;
            -webkit-transform: rotate(23deg);
            -moz-transform: rotate(23deg);
            -ms-transform: rotate(23deg);
            -o-transform: rotate(23deg);
            transform: rotate(23deg);
          }

        }


      }

      .socialIcons {
        display: block;
        z-index: 1;
        ul {
          li {
            width: 35px;
            position: relative;
            float: left;
            list-style: none;
            &#linkedIn {
              &:before{
                content: url('images/linkedIn.png');
                transition: all .5s ease;
              }

            }
            &#facebook {
              &:before{
                content: url('images/facebook.png');
                transition: all .5s ease;
              }

            }
            &#twitter {
              &:before{
                content: url('images/twitter.png');
                transition: all .5s ease;
              }

            }
            &:hover {
              -webkit-filter: invert(75%);
              -moz-filter: invert(75%);
              -ms-filter: invert(75%);
              filter: invert(75%);
              transition: all .5s ease;
            }

          }
        }
        @media (min-width:$screen-lg) {
          width: 15%;
        }
      }

  }

  #nav-menu-mobile {
    display: none;
    width: 100%;
    z-index: 4;

    .backgroundImage {
      background: linear-gradient(#230931, $main_purple) no-repeat;
    }
    .container {
      background: linear-gradient(#230931, $main_purple) no-repeat;
      padding: 14px 0;

      #navigation-menu-mobile {
        position: relative;
        display: block;
        ul {
          padding: 0;
          width: 100%;
          li {
            text-align: center;
            a {
              color: #ffffff;
            }

          }
        }

      }
    }

  }
  #search-mobile {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 4;
    .backgroundImage {
      background: linear-gradient(#230931, $main_purple) no-repeat;
    }
    .container {
      background: linear-gradient(#230931, $main_purple) no-repeat;
      padding: 14px 0;
      form {
        width: 80%;
        margin: 0 auto;
        input{
          color: #ffffff;
          width: 80%;
          margin: 8px 0;
          background: none;
          border: #ffffff solid 2px;
          padding: 5px;
          border-radius: 0;
          font-size: 3.5vw;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          //@include breakpoint(small){
          //  font-size: 2vw;
          //}
          //@include breakpoint (large){
          //  font-size: 14px;
          //}

          &:focus {
            outline: transparent;
          }
          &::-webkit-input-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
          &:-moz-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
          &:-ms-input-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
        }
        i {
          color: #fff;
        }
      }
    }

  }



  footer {
    position: relative;
    display: block;
    overflow: visible;
    background: #e0dee2;
    margin: 0;

    .footerHeader {
      text-transform: uppercase;
      font-weight: bold;
      color: $main_purple;
      font-size: 18px;
    }

    &:before{
      content: "";
      padding: 30px;
    }
    .footerbg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200%;
      overflow: hidden;
      .footbg{
        content: "";
        position: absolute;
        width: 800px;
        height: 800px;
        left: -735px;
        z-index: 1;
        top: 161px;
        background: rgba(39, 5, 47, 0.15) 0 200px no-repeat;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        @media(min-width: $screen-lg) {
          left: -644px;
        }
      }
    }

    .contactUs {
      position: relative;
      display: block;
      z-index: 4;
      color: #575756;
      margin-bottom: 50px;

      .clearfix {
        display: block;
      }


      .footer-form {
        padding: 0 15px;

        .wpcf7-validation-errors , .wpcf7-mail-sent-ok {
          border: 2px solid $selected_purple;
          margin: 10px 0;
          background: #8b003d;
          color: #ffffff;
          width: 89%;
          float: left;
        }


        h3 {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
          color: $main_purple;
        }
        input, select {
          display: block;
          width: 100%;
          margin: 8px 0;
          background: none;
          border: #ffffff solid 2px;
          background: rgba(255,255,255,0.3);
          padding: 5px;
          border-radius: 0;
          font-size: 13px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &:focus {
            outline: $selected_purple 2px solid;
          }
          &::-webkit-input-placeholder {
            text-transform: uppercase;
            color: #575756;
          }
          &:-moz-placeholder {
            text-transform: uppercase;
            color: #575756;
          }
          &:-ms-input-placeholder {
            text-transform: uppercase;
            color: #575756;
          }
        }
        select {
          background: url("images/footer/dropdownArrow.png") 97% 50% no-repeat;

        }
        p{
          min-height: 34px;
          font-size: 14px;
          line-height: 15px;
          margin: 0;
        }
        button, input[type='submit'] {
          background: $main_purple;
          border: none;
          width: auto;
          padding: 11px 25px;
          -moz-transition: background .3s linear;
          -webkit-transition: background .3s linear;
          -o-transition: background .3s linear;
          transition: background .3s linear;
          &:hover {
            background: #8b003d;
          }


        }
        br {
          display: none;
        }
        input[type='submit']{

        }
        &.newsletter-form {

          float: right;
          text-align: right;
          &:after{
            clear: both;
          }

          .wpcf7-validation-errors , .wpcf7-mail-sent-ok {
            float: right;
          }



        }
      }
      .address {
        display: block;

        h3{
          font-size: 18px;
        }
        p{
          font-size: 12px;
          min-height: 100px;
        }
        a{
          color: #575756;
          font-size: 14px;

          &:hover {
          }
          &.tel {
            &:before{
              content:"T: ";
              color: #007499;
            }
          }
          &.email {
            &:before {
              content:"E: ";
              color: #007499;

            }
          }
        }
      }
    }
    .finalBar {
      background: linear-gradient(#230931, $main_purple) no-repeat;
      display: block;
      position: relative;
      bottom: 0;
      z-index: 3;
      ul{
        padding-left: 0.83333% * 2;
        margin: 0;
        float: left;
        li {
          color: #ffffff;
          float: none;
          width: auto;
          display: inline-block;
          padding: 20px 0;
          a {
            color: #ffffff;
          }
          &:after {
            content: "|";
            display: inline-block;
            padding: 0 10px;
          }
          &:last-child {
            &:after {
              content: "";
            }
          }

        }
      }
      .copyright {
        color: #ffffff;
        float: right;
        padding: 20px (0.83333% * 2) ;
      }
    }
  }
