

.homeContent {
  position: relative;
  overflow: hidden;
  .sliderBanner {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
    @media (min-width: $screen-md) {
      overflow: visible;
    }
    .slider {
      position: relative;
      width: 100%;
      max-height: 185px;
      overflow: hidden;
      display: block;
      top: -15px;
      @media (min-width: $screen-sm) {
        max-height: 250px;
      }
      @media (min-width: $screen-md) {
        overflow: visible;
        max-height: 500px;
      }

      .homeSliderWrapper {
        .sliderbg {
          position: relative;
          .slidebg {
            content: "";
            position: absolute;
            width: 1200px;
            height: 1200px;
            top: -360px;
            left: -1116px;
            z-index: 1;
            background: rgba(20, 5,28, 0.2) 0 200px no-repeat;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }

        }
        .bx-wrapper:last-of-type {
          position: absolute;
          top: 0;
          z-index: 3;
        }
        .bx-viewport {
          overflow: visible !important;
          background: none;
        }
        .homeSlider {
          &.content {
            position: absolute;
            top: 0;
          }
          li {
            position: relative;
            z-index: 1;
            max-height: 500px;
            .imageWrapper {
              max-height: 500px;
              overflow: hidden;

              position: relative;
              top: 0;
              width: 100%;
              //@media (min-width: $screen-md) {
              //  position: absolute;
              //}

              img{
                height: 100%;

                position: relative;
                @media (min-width: $screen-sm) {
                  min-height: 500px;
                }
              }

            }
            .casestudy{
              //background: url("images/diamond.png") no-repeat;
              //background-position-y: -20px;
              //position: absolute;
              display: block;
              height: 600px;
              z-index: 5;
              min-width: 300px;
              left: 0;
              color: white;
              padding: 40px 0 0 15px;

              @media (min-width: $screen-sm) {
                padding: 100px 0 0 0;
              }
              @media (min-width: $screen-md) {
                padding: 198px 0 0 0;
              }
              h1 {
                font-size: 6.4vw;
                margin: 5px 0;
                position: relative;
                text-transform: uppercase;
                text-shadow: -1px 3px 30px rgba(0, 0, 0, 0.60);

                @media (min-width: $screen-sm) {
                  font-size: 38px;
                }
                span {
                  @media (min-width: $screen-md) {
                    padding-left: 25px;
                  }

                  text-shadow: -1px 3px 30px rgba(0, 0, 0, 0.44);
                }
              }
              p {
                font-size: 16px;
                width: 203px;
              }
              a{
                font-size: 16px;
                font-weight: bold;
                color: white;
              }

            }
          }
        }
      }
    }
  }
  .box {
    &.weAre {
      margin: 20px auto;
      background: #ffffff;
      h2 {
        font-size: 25px;
      }
      img {
        margin: 0 auto;
        display: block;
        position: relative;
        float: none;
      }
      .introWrapper {
        margin: 15px auto;

        max-width: 970px;
        display: block;
        position: relative;
        text-align: center;
        float: none;
        p{
          font-size: 17px;
        }
        a.button {
          margin: 40px auto 20px auto;
          position: relative;
          display: block;
          max-width: 200px;
        }

      }

    }
    &.testimonial {
      position: relative;
      text-align: center;
      display: block;
      max-height: 300px;
      overflow: visible;

      .sliderwrapper {
        overflow: hidden;
        .slider {
          .bx-viewport{
            overflow: visible !important;
          }
          ul.testSlider {
            overflow: visible;
            max-height: 300px;
            li {
              background: none;
              border: none;
              overflow: visible;
              padding: 0;
              .imgWrapper {
                max-height: 311px;
                overflow: hidden;
                img {
                  position: relative;
                }
              }
              .overlay {
                overflow: hidden;
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0, 0, 0, 0.7);
                display: block;
                top: 0;
                .casestudy {
                  position: absolute;
                  top: 10px;
                  width: 80%;
                  padding-left: 10px;
                  color: #ffffff;
                  h2 {
                    font-size: 18px;
                    color: #ffffff;
                  }
                  p ,a {
                    color: #ffffff;
                    text-transform: none;
                  }
                  a {
                    font-weight: bold;
                  }

                  @media (min-width: $screen-md) {
                    top: 70px;
                    h2 {
                      font-size: 25px;
                      color: #ffffff;
                    }
                    p ,a {
                      color: #ffffff;
                      text-transform: none;
                      font-size: 16px;
                    }
                    a {
                      font-weight: bold;
                    }
                  }
                }

              }
            }
          }
        }

      }
      .sideTriangle {
        overflow: hidden;
        position: absolute;
        right: -840px;
        top: -140px;
        z-index: 2;
        width: 1200px;
        height: 1200px;
        transform: rotate(-45deg);
        .rotatewrapper{
          transform: rotate(45deg);

          .greyBox {
            position: absolute;
            height: 400px;
            width: 400px;
            z-index: 5;
            left: 601px;
            display: block;
            background: #e0dee2;
            top: -208px;
            transform: rotate(45deg);

          }


        }
        .bx-wrapper {
          z-index: -1;
        }


          .bx-viewport {
            z-index: 1;

          }
          ul.testSlider {
            overflow: visible;
            max-height: 300px;
            li {
              background: none;
              border: none;
              overflow: visible;
              padding: 0;

              .imgWrapper {
                max-height: 311px;
                overflow: hidden;


              }
            }
          }


      }
      p{
        color: #ffffff;
        font-size: 15px;
      }
    }
    &.ourProcess {
      background: url("images/home/process-bg.png");
      z-index: 2;
      position: relative;
      p {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-transform: none;
        font-size: 13px;
      }
      ul {
        margin: 20px auto 30px auto;
        float: none;
        max-width: 970px;
        display: block;
        position: relative;
        overflow: hidden;
        li{
          background: none;
          border: none;
          color: #333333;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          a {
            color: $main_purple;
            -moz-transition: color .3s ease;
            -o-transition: color .3s ease;
            -webkit-transition: color .3s ease;
            transition: color .3s ease;
            &:hover {
              color: $selected_purple;
              text-decoration: none;
            }
            img {
              display: block;
              position: static;
              margin: 0 auto;
            }
          }



        }
      }
    }


    &.clients {
      position: relative;
      margin-bottom: 0;
      margin-top: 0;

      ul {
          overflow: hidden;
          margin: 10px 0;
          z-index: 10;
        li {
          background: none;
          color: rgba(13,13,13,0.5);
          text-align: center;

          img {
            width: 80%;
            margin: 0 auto;

            display:inline-block
          }
        }
      }
    }
  }
}