.industries.content {
  .main {
    h2 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: $main_purple;
    }
    .content {
      margin: 30px 0;
      p {
        max-width: 970px;
        margin: 0 auto;
        font-size: 18px;
      }
    }

  }
  .whatwedo {
    overflow: hidden;
    position: relative;
    background: url("images/home/process-bg.png");
    h2 {
      width: 100%;
      text-align: center;

    }
    ul {
      margin: 10px 0;
      li {
        list-style: disc;
      }
    }
    form {
      width: 100%;
      display: block;
      margin: 30px 0 20px 0;
      button {
        margin: 0 auto;
        float: none;
        display: block;
      }
    }
    .triCut {
      left: auto;
      top: 160px;
      right: -250px;
    }

  }
  .casestudies {
    background: url("images/home/process-bg.png");
    .box {
      background: none;
      h2 {
        font-weight: normal;
      }
      ul {
        li {
          border: none;
          margin-bottom: 30px;
          .postdetails {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .related{

    ul {
      margin: 10px 0;
      li {
        list-style: disc;
        a {
          color: $main_purple;
        }
      }
    }
  }

}