.industries.content {
  .main {
    &.box {
      background: none;
    }
    margin: 20px auto;
    h2 {
      width: 100%;
      text-align: center;
      color: $main_purple;
      font-size: 26px;
    }
    .content {
      margin: 30px auto;
      h3 {
        color: $main_purple;
      }
      p {
        max-width: 970px;
        margin: 0 auto;
        font-size: 16px;
        @media (min-width: $screen-md){
          padding: 0 100px;
        }

      }

    }
    a {
      overflow: hidden;
      color: $main_purple;
      .sign {
        height: 100%;
        h3 {
          margin: 10px 0;
          position: relative;
          color: #ffffff;
          font-weight: bold;
          font-size: 20px;
          -moz-transition: color .3s ease;
          -o-transition: color .3s ease;
          -webkit-transition: color .3s ease;
          transition: color .3s ease;
          @media (min-width: $screen-md) {
            color: $main_purple;
            white-space: nowrap;
          }

        }
      }
      &:hover {
        text-decoration: none;
        .sign {
          h3 {
            color: $selected_purple;
          }
        }
      }
    }


  }
  .whatwedo {
    overflow: hidden;
    position: relative;
    background: url("images/home/process-bg.png");
    h2 {
      width: 100%;
      text-align: center;
      margin: 50px 0;
    }
    ul {
      margin: 50px 0;
      li {
        list-style: disc;
        margin: 6px 0;
      }
    }
    form {
      width: 100%;
      display: block;
      margin: 30px 0 20px 0;
      button {
        margin: 0 auto;
        float: none;
        display: block;
        margin-bottom: 40px;
      }
    }
    .triCut {
      left: auto;
      top: 160px;
      right: -250px;
    }

  }
  .achievements {
    .achivementslider {
      ul.achivslider {
        background: url("images/industries/purple-stats-bg.jpg");
        padding: 0;
        margin-bottom: 0;
        li{
          //background: #000088;
          color: #ffffff;
          //padding: 100px;
          text-align: center;
          font-size: 40px;
          @media(min-width: $screen-sm){
            padding: 100px;
          }

        }
        button {
          height: 100%;
          width: 20%;
          background: rgba(255, 255, 255, 0.5);
          font-size: 40px;
          &.slick-next:before, &.slick-prev:before {
            font: inherit;
          }
          &.slick-prev{
            left: 0;
            z-index: 1;
            &:before {
               content: "‹";
              font-size: 140px;
              position: absolute;
              left: 49%;
            }
          }
          &.slick-next {
            right: 0;
            &:before {
              content: "›";
              font-size: 140px;
              position: absolute;
              right: 49%;
            }
          }
        }

      }
    }
  }
  .casestudies {
    background: url("images/home/process-bg.png");
    overflow: hidden;
    .box {
      background: none;
      margin-bottom: 150px;
      h2 {
        font-weight: normal;
      }
      ul {
        li {
          border: none;
          @media (min-width: $screen-md) {
            min-height: 312px;

          }
          .postdetails {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .related{

    ul {
      margin: 10px 0;
      li {
        list-style: disc;
        a {
          color: $main_purple;
        }
      }
    }
  }

}