.insights {
  .box {
    h3 {
      font-weight: bold;
      color: $main_purple;
    }
    ul {
      li {
        @media (min-width: $screen-md) {
          //height: 450px;
        }
      }
    }
  }
  .articles{
    @media (min-width: $screen-md){
      max-width: 870px;
    }
    ul {
      li {
        .sign {
          @media (min-width: $screen-md) {
            .postdetails {

              margin: 0 auto;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
  .whitepapers{
    background: url("images/home/process-bg.png");
    .box {
      background: none;
    }
  }
  .blog {
    .main.signs{
      ul {
        li {
          .blogposts {
            @media (min-width: $screen-sm) {
              float: left;
              width: 50%;
            }
          }

          .sign {
            @media (min-width: $screen-md) {
              &:hover {
                h4 {
                  color: $selected_purple;
                }
              }
            }
            .imgWrap {

            }
          }

          @media (min-width: $screen-md) {
            .blogdetails {
              margin-top: 20px;
              float: left;
              h4 {
                color: $main_purple;

              }
              .postdetails{
                position: relative;

                padding: 0;

              }
            }
          }



        }
      }
    }
  }
  .postdetails {

  }
}

.single-insight {
  color: #807b8f;
  .postdate {
    color: #b3b3b3;
    margin: 30px 0;
  }
  .postcontent {
    margin: 30px 0;
    color: #807b8f;
    .button {
      width: auto;
      display: inline-block;
      margin: 10px 0;
    }
  }
  .recent {
    ul{
      padding-left: 15px;
      li{
        list-style: disc;
      }
    }

  }

}