.insights {
  .box {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: $main_purple;
    }
    ul {
      li {
        @media (min-width: $screen-md) {
          height: 450px;
        }
      }
    }
  }
  .whitepapers{
    background: url("images/home/process-bg.png");
    .box {
      background: none;
    }
  }
  .blog {
    .main.signs{
      ul {
        li {
          height: 280px;
          .sign {
            .imgWrap {
              left: 58px;
            }
          }

            .blogdetails {
              .postdetails{
                top: 60px;
                position: relative;
                float: left;
                padding: 0;

              }
            }


        }
      }
    }
  }
  .postdetails {
    position: absolute;
    bottom: 0;
  }
}

.single-insight {
  color: #807b8f;
  .postdate {
    color: #b3b3b3;
  }
  .postcontent {
    margin: 30px 0;
    color: #807b8f;
  }
  .recent {
    ul{
      padding-left: 15px;
      li{
        list-style: disc;
      }
    }

  }

}