@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
$main_purple: #300f42;
$selected_purple: #8b003d;

//Screen Sizes

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;


@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.container {
  //max-width: 992px;
}


body {
  font-family: "Lato", "sans-serif";
  background: #FFFFFF;
  .page{
    z-index: 1;
  }
  li {
    list-style: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}
.box {
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  overflow: hidden;
  display: block;
  z-index: 1;
  h2 {
    color: $main_purple;
    text-transform: uppercase;
    font-weight: bold;
  }
  span {
    color: $selected_purple;
  }
  p {
    font-size: 12px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      position: relative;
      text-align: left;
      background: linear-gradient($main_purple, #230931);
      padding: 10px;
      text-transform: uppercase;
      color: #ffffff;
      border-bottom: #ffffff 2px solid;
      &:last-of-type {
        border-bottom: none;
      }
      &:hover {
        background: linear-gradient(#8b003d, #68032f);
        color: #dddddd;
      }
    }
  }
}

button {
  background: $main_purple;
  border: none;
  padding: 8px 25px;
  color: #ffffff;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  &:hover {
    background: #8b003d;
  }

}
.headerImgWrapper {
  overflow: hidden;
  max-height: 300px;

  .headerImg {
    width: 100%;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    width: 100%;
    top: 100px;
    @media (min-width: $screen-sm) {
      font-size: 40px;
      top: 120px;
      
    }
    @media (min-width: $screen-md) {
      font-size: 45px;
      top: 150px;

    }
    @media (min-width: $screen-sm) {
      font-size: 65px;


    }
  }
}
.thecontent {
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
  h2 {
    font-size: 24px;
  }
  p {
    color: #575756;
    margin: 25px 0;
  }
  img {
    margin: 0 auto 20px auto;
    float: none;

  }
  button {
    margin: 30px 15px;
    width: 150px;
  }
}





