@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
$main_purple: #300f42;
$selected_purple: #8b003d;
$font_grey: #575756;

//Screen Sizes
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.container {
  //max-width: 992px;
}
body {
  font-family: "Lato", "sans-serif";
  font-size: 14px !important;
  background: #FFFFFF;
  .page{
    z-index: 1;
    position: relative;
  }
  li {
    //list-style: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: $main_purple;
    &:hover {
      color: $main_purple;
    }
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 21px;
  }
}
.width970 {
  max-width: 970px;
  margin: 0 auto;
}
.box {
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  overflow: hidden;
  display: block;
  z-index: 1;
  h2 {
    color: $main_purple;
    font-weight: bold;
  }
  span {
    color: $selected_purple;
  }
  p {
    font-size: 12px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      position: relative;
      text-align: left;
      background: linear-gradient($main_purple, #230931);
      padding: 10px;
      text-transform: uppercase;
      color: #ffffff;
      border-bottom: #ffffff 2px solid;
      &:last-of-type {
        border-bottom: none;
      }
      &:hover {
        background: linear-gradient(#8b003d, #68032f);
        color: #dddddd;
      }
    }
  }
  &.clients {
    position: relative;
    margin-bottom: -20px;
    margin-top: 20px;

    ul {
      overflow: hidden;
      margin: 10px 0;
      z-index: 10;
      li {
        background: none;
        color: rgba(13,13,13,0.5);
        text-align: center;

        img {
          width: 80%;
          margin: 0 auto;

          display:inline-block
        }
      }
    }
  }
}

button, a.button, input.button[type="submit"] {
  background: $main_purple;
  border: none;
  padding: 8px 25px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  &:hover {
    background: #8b003d;
    text-decoration: none;
  }
}
.page {
  .triCut{
    position: absolute;
    left: -290px;
    top: -50px;
    width: 500px;
    height: 500px;
    background: rgba(39, 5, 47, 0.15) 0 200px no-repeat;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
  }
}
.headerImgWrapper {
  overflow: hidden;
  max-height: 300px;
  z-index: 1;
  position: relative;
  .headerImg {
    width: 100%;
    position: relative;
  }
  h1 {
    font-size: 48px;
    font-size: 4.9vh;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
    top: 10px;
    text-shadow: -1px 3px 30px rgba(0, 0, 0, 0.60);
    @media (min-width: $screen-sm) {
      font-size: 40px;
      top: 80px;
    }
    @media (min-width: $screen-md) {
      font-size: 45px;
      top: 120px;
    }
    @media (min-width: $screen-lg) {
      font-size: 65px;


    }
  }
}
.thecontent {
  margin: 0 auto;
  //max-width: 820px;
  text-align: center;
  h2 {
    font-size: 24px;
    color: $main_purple;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    color: $font_grey;
    margin: 25px 0;
  }
  li {
    color: $font_grey;
  }
  img {
    margin: 0 auto 20px auto;
    float: none;

  }
  button, a.button {
    margin: 30px 15px;
    width: 150px;
    display: inline-block;
  }
}
.main {
  position: relative;
  z-index: 2;
}
.main.signs  {
  padding: 0;

  p {
    font-size: 15px;
    text-align: center;
    width: 90%;
    margin: 15px auto;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 15px 10px;
      text-align: left;
      position: relative;
      background: $main_purple;
      border-bottom: none;
      list-style: none;

      h4 {
        font-size: 14px;
        @media (min-width: $screen-md) {
          font-size: 18px;
        }
      }

      @media (min-width: $screen-md) {
        background: none;
        color: $main_purple;
        text-align: center;
      }

      .sign {
        width: 100%;
        height: 100%;
        display: block;
        @media (min-width: $screen-md) {
         min-height: 240px;
        }


        .imgWrap {

          height: 100%;
          width: 40%;
          display: block;
          position: absolute;
          overflow: hidden;
          right: 0;
          top: 0;
          -webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);
          clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: rgba(48, 15, 66, 0.5);
            -moz-transition: background .3s linear;
            -webkit-transition: background .3s linear;
            -o-transition: background .3s linear;
            transition: background .3s linear;
          }
          @media (min-width: $screen-md) {
            margin: 0 auto;
            width: 200px;
            display: block;
            -webkit-clip-path: none;
            clip-path: none;
            position: relative;
            padding: 20px;

            &:before {
              display: none;
            }
          }

          img {
            width: 100%;
            position: relative;
            display: block;
            top: -75px;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            -webkit-clip-path: url("#clip-polygon");
            clip-path: url("#clip-polygon");
            @media (min-width: $screen-md) {
              -webkit-filter: none;
              filter: none;
              top: 0;
            }

            &.pageimg {
              height: 90px;
            }
          }


        }
        .desktopWho {
          display: none;
          float: left;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0 auto;
          max-width: 200px;
          max-height: 200px;
          @media (min-width: $screen-md) {
            display: block;
          }

          svg {
            width: 100%;
            height: 100%;
            display: block;
          }

          .path {
            -webkit-transition: all .7s;
            transition: all .7s;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
            animation-direction: alternate;
            &.left, &.right {
              -webkit-transition-delay: .7s; /* Safari */
              transition-delay: .7s;
            }
          }

          &:hover .path {
            display: block;
          }

          .top {
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
          }
          .right {
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
          }
          .left {
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
          }

        }

        &:hover {

          .imgWrap {
            &:before {
              background: none;
            }
          }
          .desktopWho .top {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);

          }
          .desktopWho .right {

            -webkit-transform: scaleY(0);
            transform: scaleY(0);

          }
          .desktopWho .bottom {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
          }
          .desktopWho .left {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
          }
        }

        .postdetails {
          text-transform: none;
          position: relative;
          text-align: left;
          display: block;
          width: 240px;
          padding: 10px;
          @media (min-width: $screen-md){
            max-width: 265px;
            padding-left: 10px;
          }
          @media (min-width: $screen-lg){
            padding-left: 42px;
          }


          a:hover {
            text-decoration: none;
          }
          h4, p {
            color: $main_purple;
            &:hover {
              text-decoration: none;

            }
          }
          h4 {
            margin: 0;
            font-size: 15px;
            color: #ffffff;
            max-width: none;
            @media (min-width: $screen-md){
              color: inherit;
              max-width: inherit;
            }

          }
          p{
            margin: 0;
            font-size: 14px;
            color: #575756;
            text-align: left;
            display: none;
            @media (min-width: $screen-md){
              display: block;
            }
          }
          a.readmore{
            display: none;
            @media (min-width: $screen-md) {
              display: block;
              color: $selected_purple;
              font-weight: bold;
              text-transform: none;
              margin: 10px 0 0 0;
            }

          }
        }

      }

    }
  }

}
.sitemap {
  ul {
    margin: 30px 0;
    li {
      max-width: 300px;
      text-align: left;
      &.current_page_item {
        display: none;

      }
      ul {
        margin: 0;
      }
    }
  }
}

