
.backgroundImage{
  background: linear-gradient($main_purple, #230931) no-repeat;
  width: 50%;
  position: absolute;
  left: 0;
  height: 100%;


}

  #nav-bar {
    height: auto;

    z-index: 5;
    position: relative;




    .container {
      background: linear-gradient($main_purple, #230931) no-repeat;
      padding: 14px 0;

      #logo{
        width: span(5 of 12);
        max-width: 197px;
        margin: 0 5px;
        float: left;
        @include breakpoint(medium){
          width: span(3 of 12);
        }
        @include breakpoint(large){
          width: span(3 of 12);

        }

      }

      .headerButtons {
        @include span(2 of 12);
        margin: 5px 0 ;
        float: right;
        display: block;
        @include breakpoint(wide){
          display: none;

        }

        .glyphicon-menu-hamburger, .glyphicon-search{
          @include span(6 of 12);
          float: right;
          color: #fff;
          font-size: 19px;
          right: 0;
          position: relative;

        }

        &:after {
          clear: both;
        }

      }

      #navigation-menu {
        clear: both;
        margin-top: 10px;
        display: none;


        ul{
          overflow: hidden;
          position: relative;
          display: block;
          width: 100%;
          padding: 0;
          li {
            font-size: 19px;
            padding: 5px 0;
            text-align: center;
            //@include breakpoint(medium){
            //  font-size: 15px;
            //  text-align: center;
            //  width: 14.28%;
            //  float: left;
            //}
            a{
              color: #fff;
            }
          }

        }

        //@include breakpoint(large){
        //  display: block;
        //  ul {
        //    width: auto;
        //    li {
        //      padding: 0 10px;
        //      width: auto;
        //      a {
        //
        //      }
        //    }
        //  }
        //
        //}

        @include breakpoint(wide){
          clear: none;
          display: block;
          ul {
            width: span(7 of 12);
            padding-left: 32px;
            li {
                font-size: 15px;
                text-align: center;
                padding: 0 12px;
                width: auto;
                float: left;
              a {

              }
            }
          }

        }
      }
      form#searchform {
        @include span(6 of 12);
        clear: both;
        position: relative;
        color: #ffffff;

        overflow: hidden;
        margin: 7px auto;
        display: none;
        float: none;

        @include breakpoint(wide){
          padding: 25px 0 0 50px;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 150px;
          height: 100%;
          margin: 0;
          background: #190624;
          -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
        }
        input {
          @include span(10 of 12);
          background: none;
          border: none;
          font-size: 16px;


          @include breakpoint(large){
            @include span(8 of 12);
            position: relative;
            right: 0;
          }
          @include breakpoint(wide){
            margin-right: 7px;
          }

          &:focus {
            outline: rgba(255,255,255,0.6) 1px solid;
          }
          &::-webkit-input-placeholder {
            color: #ffffff;
          }
          &::-moz-placeholder {
            color: #ffffff;
          }
          &:-moz-placeholder {   /* Older versions of Firefox */
            color: #ffffff;
          }
          &:-ms-input-placeholder {
            color: #ffffff;
          }

        }
        i {
          position: relative;
          top: 3px;
        }
      }

      .socialIcons {
        display: none;
        position: absolute;
        right: 130px;
        z-index: 1;
        top: 3px;
        @include breakpoint(wide){
          display: block;
          top: 16px;
          right: 135px;
        }

        ul {
          li {
            width: 35px;
            float: left;
            position: relative;
            &#linkedIn {
              &:before{
                content: url('images/linkedIn.png');
              }

            }
            &#facebook {
              &:before{
                content: url('images/facebook.png');
              }

            }
            &#twitter {
              &:before{
                content: url('images/twitter.png');
              }

            }
            &:hover {
              -webkit-filter: invert(75%);
              -moz-filter: invert(75%);
              -ms-filter: invert(75%);
              filter: invert(75%);
            }

          }
        }
      }
    }
  }

  #nav-menu-mobile {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 4;

    .backgroundImage {
      background: linear-gradient(#230931, $main_purple) no-repeat;
    }
    .container {
      background: linear-gradient(#230931, $main_purple) no-repeat;
      padding: 14px 0;

      #navigation-menu-mobile {
        position: relative;
        display: block;
        ul {
          padding: 0;
          width: 100%;
          li {
            text-align: center;
            a {
              color: #ffffff;
            }

          }
        }

      }
    }
    @include breakpoint(wide) {
      display: none !important;
    }

  }
  #search-mobile {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 4;
    .backgroundImage {
      background: linear-gradient(#230931, $main_purple) no-repeat;
    }
    .container {
      background: linear-gradient(#230931, $main_purple) no-repeat;
      padding: 14px 0;
      form {
        width: 80%;
        margin: 0 auto;
        input{
          color: #ffffff;
          width: 80%;
          margin: 8px 0;
          background: none;
          border: #ffffff solid 2px;
          padding: 5px;
          border-radius: 0;
          font-size: 3.5vw;
          text-transform: uppercase;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          @include breakpoint(small){
            font-size: 2vw;
          }
          @include breakpoint (large){
            font-size: 14px;
          }

          &:focus {
            outline: transparent;
          }
          &::-webkit-input-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
          &:-moz-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
          &:-ms-input-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
        }
        i {
          color: #fff;
        }
      }
    }
  }




  footer {
    position: relative;
    display: block;
    overflow: hidden;
    background: rgb(10, 10, 10);
    &:before{
      content: "";
      padding: 30px;
    }


    .diamonds {
        width: 100%;
        right: 92%;
        top: -428px;
      .diamondFill{
        background: rgba(33, 33, 33, 0.4);
      }
    }
    .contactUs {
      position: relative;
      display: block;
      z-index: 4;
      color: #ffffff;
      margin-bottom: 50px;

      .clearfix {
        display: block;
        @include breakpoint (large){
          display: none;
        }
      }


      .footer-form {
        @include span(6 of 12);
        padding: 0 15px;


        h3 {
          font-size: 20px;
          text-transform: uppercase;
        }
        input, select {
          display: block;
          width: 100%;
          margin: 8px 0;
          background: none;
          border: #ffffff solid 2px;
          padding: 5px;
          border-radius: 0;
          font-size: 3.5vw;
          text-transform: uppercase;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          @include breakpoint(small){
            font-size: 2vw;
          }
          @include breakpoint (large){
            font-size: 14px;
          }

          &:focus {
            outline: $selected_purple 2px solid;
          }
          &::-webkit-input-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
          &:-moz-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
          &:-ms-input-placeholder {
            text-transform: uppercase;
            color: #ffffff;
          }
        }
        select {
          background: url("images/footer/dropdownArrow.png") 97% 50% no-repeat;

        }
        p{
          min-height: 34px;
          font-size: 14px;
          line-height: 15px;
          margin: 0;
        }
        button {
          background: $main_purple;
          border: none;
          padding: 8px 25px;
          -moz-transition: background .3s linear;
          -webkit-transition: background .3s linear;
          -o-transition: background .3s linear;
          transition: background .3s linear;
          &:hover {
            background: #8b003d;
          }


        }
        &.newsletter-form {
          float: right;
          text-align: right;
          &:after{
            clear: both;
          }
        }
        @include breakpoint (large){
          width: span(3 of 12);
        }
      }
      .address {
        @include span(4 of 12);
        display: block;

        h3{
          font-size: 18px;
        }
        p{
          font-size: 12px;
          min-height: 100px;
        }
        a{
          color: #ffffff;
          font-size: 2.5vw;

          &:hover {
          }
          &.tel {
            &:before{
              content:"T:";
              color: #007499;
            }
          }
          &.email {
            &:before {
              content:"E:";
              color: #007499;

            }
          }
        }

        @include breakpoint (large) {
          width: span(2 of 12);
          a {
            font-size: 14px;
          }
        }

      }
    }

    .finalBar {
      background: linear-gradient(#230931, $main_purple) no-repeat;
      display: block;
      position: relative;
      bottom: 0;
      z-index: 3;
      ul{
        padding-left: 0.83333% * 2;
        margin: 0;
        float: left;
        li {
          color: #ffffff;
          float: none;
          width: auto;
          display: inline-block;
          padding: 20px 0;
          a {
            color: #ffffff;
          }
          &:after {
            content: "|";
            display: inline-block;
            padding: 0 10px;
          }
          &:last-child {
            &:after {
              content: "";
            }
          }

        }
      }
      .copyright {
        color: #ffffff;
        float: right;
        padding: 20px (0.83333% * 2) ;
      }
    }



  }
