
  #nav-bar {
    @include container();
    height: auto;
    background: linear-gradient($main_purple, #230931);
    padding: 10px 0;
    z-index: 5;
    position: relative;
    #logo{
      @include span(5 of 12);
      max-width: 197px;
      margin: 0 5px;

    }

    .headerButtons {
      @include span(2 of 12);
      margin: 5px 0 ;
      float: right;
      display: block;






      .glyphicon-menu-hamburger, .glyphicon-search{
        @include span(6 of 12);
        float: right;
        color: #fff;
        font-size: 19px;
        right: 0;
        position: relative;

      }
      .glyphicon-menu-hamburger {
        text-align: right;
      }

    }

    #navigation-menu {
      margin-top: 10px;
      display: none;
      ul{
        li {
          font-size: 19px;
          padding: 5px 0;
          text-align: center;
          a{
            color: #fff;
          }
        }

      }
    }
    form {
      @include span(6 of 12);
      position: relative;
      color: #ffffff;

      overflow: hidden;
      margin: 7px auto;
      display: none;
      float: none;
      input {
        @include span(10 of 12);
        background: none;
        border: none;
        font-size: 16px;
        &:focus {
          outline: rgba(255,255,255,0.6) 1px solid;
        }
        &::-webkit-input-placeholder {
          color: #ffffff;
        }
        &::-moz-placeholder {
          color: #ffffff;
        }
        &:-moz-placeholder {   /* Older versions of Firefox */
          color: #ffffff;
        }
        &:-ms-input-placeholder {
          color: #ffffff;
        }

      }
      i {
        position: absolute;
        top: 3px;
      }
    }
  }
  footer {
    position: relative;
    display: block;
    overflow: hidden;
    background: #190624;

    .diamonds {
      width: 100%;
      height: 100%;
      right: 85%;
      top: -345px;
      position: absolute;

    }
    .contactUs {
      position: relative;
      display: block;
      z-index: 4;
      .footer-form {
        @include span(5 of 12);
        padding: 0 15px;
        input, select {
          display: block;
          width: 100%;
          margin: 5px 0;
          background: none;
          border: #ffffff solid 2px;
          &:focus {
            outline: $selected_purple 2px solid;

          }
        }
        &.newsletter-form {
          float: right;
          text-align: right;
        }
      }
    }


  }

@include breakpoint(small){
  #nav-bar {
    #logo {
    }
  }


}
@include breakpoint(medium){
  #nav-bar {
    #logo {
      @include span(3 of 12);
    }
  }
}
  @include breakpoint(large){
    #nav-bar {
      #logo {
        @include span(2 of 12);
      }
    }
  }