

.content {
  position: relative;
  @include breakpoint(medium){
    top: -85px;
  }
  .slider {
    position: relative;
    overflow: hidden;
    top: 0;

    @include breakpoint(large){
      overflow: visible;
    }

    .diamonds {
      right: 84%;
      top: -58%;



    }
    .diamondText {
      top: 43%;
      left: 5.3%;
      font-size: 4.8vw;
      position: absolute;
      z-index: 3;
      @include breakpoint(wide){
        top: 253px;
        left: 5.3%;
        font-size: 62px;
      }
    }
  }
  .box {
    background-color: rgba(255,255,255, 0.5);
    text-align: center;
    overflow: hidden;
    display: block;
    z-index: 1;
    h2 {
      color: $main_purple;
      font-size: 4vw;
      text-transform: uppercase;
      font-weight: bold;
    }
    span {
      color: $selected_purple;
    }
    p {
      font-size: 12px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        display: block;
        position: relative;
        text-align: left;
        background: linear-gradient($main_purple, #230931);
        padding: 10px;
        text-transform: uppercase;
        color: #ffffff;
        border-bottom: #ffffff 2px solid;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
    &.weAre {
      p{
        margin: 0 auto 22px;
        font-size: 17px;
      }
      @include breakpoint(small){
        width: 85%;
      }
      @include breakpoint(medium){
        h2 {
          font-size: 24px;
          width: 677px;
          margin: 33px auto 16px;
        }
      }
      @include breakpoint(wide){
        h2{
          font-size: 24px;
          width: 45%;

        }
        p{
          height: 96px;
        }
      }
    }

    &.whoAreWe {
      padding: 0;
      ul {
        li {
          padding: 15px 10px;

          .imgWrap{
            height: 100%;
            width: 40%;
            display: block;
            position: absolute;
            overflow: hidden;
            right: 0;
            top: 0;
            -webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);
            clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);

            &:before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              z-index: 1;
              background: rgba(48, 15, 66, 0.5);
              -moz-transition: background .3s linear;
              -webkit-transition: background .3s linear;
              -o-transition: background .3s linear;
              transition: background .3s linear;
            }
            img {
              width: 100%;
              position: relative;
              display: block;
              top: -75px;
              -webkit-filter: grayscale(1);
              filter:grayscale(1);

            }

          }
          &:hover {
            .imgWrap {
              &:before {
                background: none;
              }
            }
          }
        }
        @include breakpoint (medium){
          li {
            @include span(3 of 12);
          }
        }
      }

    }

    &.testimonial {
      position: relative;
      background: url("images/home/quote-bg.png") no-repeat;
      background-size: cover;
      padding: 50px 20px;
      text-align: center;
      display: block;
      p{
        color: #ffffff;
        font-size: 15px;
        &:before{
          content: url("images/home/quote-quote.png");
          position: absolute;
          display: block;
          top: 23px;
          left: 5px;
        }
        &:after{
          content: url("images/home/quote-quoteEnd.png");
          position: absolute;
          display: block;
          top: 65px;
          right: 20px;

        }
      }
    }
    &.ourProcess {
      background: url("images/home/process-bg.png");

      p {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-transform: none;
        font-size: 13px;
      }
      ul {
        margin-top: 10px;
        margin-bottom: 20px;

        li{
          background: none;
          border: none;
          color: #333333;
          text-align: center;
          img {
            display: block;
            position: static;
            margin: 0 auto;
          }

        }
        @include breakpoint (medium){
          li {
            @include span(4 of 12);
          }
        }
      }
    }





  }
}