

.home {
  position: relative;
  overflow-x: hidden;
  .sliderBanner {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
    @media (min-width: $screen-md) {
      overflow: visible;
    }
    .slider {
      position: relative;
      width: 100%;
      max-height: 400px;
      display: block;
      top: -10px;

      .homeSliderWrapper {
        .bx-viewport {
          overflow: visible !important;
        }
        .homeSlider {
          li {
            position: relative;
            z-index: 1;
            //max-height: 400px;
            .diamondImg {
              position: absolute;
              left: 15px;
              top: 0;
              z-index: 3;
              height: 100%;
              //overflow: hidden;
              width: 50%;
              img {
                height: 150%;
              }
              @media (min-width: $screen-md) {

              }

            }


            img{
              height: 100%;
              max-height: 400px;

            }
            .casestudy{
              background: url("images/diamond.png") no-repeat;
              background-position-y: -20px;
              position: absolute;
              display: block;
              height: 600px;
              width: 53%;
              min-width: 300px;
              left: 0;
              color: white;
              padding: 198px 0 0 90px;
              h1 {
                font-size: 38px;
                margin: 5px 0;
                position: relative;
                text-transform: uppercase;
                span {
                  padding-left: 25px;
                }


              }
              p {
                font-size: 16px;
                width: 203px;


              }
              a{
                font-size: 16px;
                font-weight: bold;
                color: white;

              }

            }
          }
        }
      }
    }

  }
  .box {
    &.weAre {
      background: #ffffff;
      h2 {
        font-size: 25px;
      }
      img {
        margin: 0 auto;
        display: block;
        position: relative;
        float: none;
      }
      .introWrapper {
        margin: 15px auto;

        max-width: 970px;
        display: block;
        position: relative;
        text-align: center;
        float: none;
        p{
          font-size: 17px;
        }
        button {
          margin-top: 20px;
          margin-bottom: 20px;
        }

      }

    }

    &.whoAreWe {
      padding: 0;
      background: none;
      z-index: 2;

      ul {

        li {
          padding: 15px 10px;
          text-align: left;
          .sign {
            width: 100%;
            height: 100%;
            display: block;
            max-width: 200px;
            .imgWrap {
              height: 100%;
              width: 40%;
              display: block;
              position: absolute;
              overflow: hidden;
              right: 0;
              top: 0;
              -webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);
              clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);

              &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
                background: none;
                -moz-transition: background .3s linear;
                -webkit-transition: background .3s linear;
                -o-transition: background .3s linear;
                transition: background .3s linear;
              }
              img {
                width: 100%;
                position: relative;
                display: block;
                top: -75px;
                -webkit-clip-path: url("#clip-polygon");
                clip-path: url("#clip-polygon");
                z-index: 1;

              }

            }
            .desktopWho {

              display: block;
              float: left;
              position: absolute;
              top: 45px;
              left: 10px;
              bottom: 0;
              right: 10px;
              margin: 0 auto;
              max-width: 200px;
              max-height: 200px;
              background: #ffffff;

              svg {
                width: 100%;
                height: 100%;
                display: block;
              }

              .path {
                -webkit-transition: all .8s;
                transition: all .8s;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;

              }

              &:hover .path {
                display: block;
              }

              .top {
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
              }
              .right {
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
              }
              .left {
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
              }

            }

            &:hover {

              .imgWrap {
                &:before {
                  background: rgba(48, 15, 66, 0.5);
                }
                img {
                  -webkit-filter: grayscale(1);
                  filter: grayscale(1);
                }
              }
              .desktopWho .top {
                -webkit-transform: scaleX(0);
                transform: scaleX(0);

              }
              .desktopWho .right {

                -webkit-transform: scaleY(0);
                transform: scaleY(0);

              }
              .desktopWho .bottom {
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
              }
              .desktopWho .left {
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
              }
          }

        }

        }
        //@include breakpoint (medium){
        //  li {
        //      @include span(3 of 12);
        //      text-align: center;
        //      font-size: 20px;
        //      background: none;
        //      color: $main_purple;
        //      font-weight: bold;
        //      padding-bottom: 45px;
        //    .sign {
        //      .imgWrap {
        //        -webkit-clip-path: none;
        //        clip-path: none;
        //        position: relative;
        //        width: 80%;
        //        margin: 0 auto;
        //        top: 25px;
        //        max-width: 160px;
        //        max-height: 160px;
        //        img {
        //          top: 0 !important;
        //
        //        }
        //      }
        //      .desktopWho {
        //        display: block;
        //      }
        //      &:hover {
        //        color: #8b003d;
        //      }
        //    }
        //
        //  }
        //}
      }
      //
      //@include breakpoint (medium) {
      //
      //  margin-bottom: 30px;
      //}
      //
      //@include breakpoint (wide) {
      //  margin-top: 15px;
      //}
    }

    &.testimonial {
      position: relative;
      background: url("images/home/quote-bg.png") no-repeat;
      background-size: cover;
      padding: 50px 20px;
      text-align: center;
      display: block;
      p{
        color: #ffffff;
        font-size: 15px;
        &:before{
          content: url("images/home/quote-quote.png");
          position: absolute;
          display: block;
          top: 23px;
          left: 5px;
        }
        &:after{
          content: url("images/home/quote-quoteEnd.png");
          position: absolute;
          display: block;
          top: 65px;
          right: 20px;

        }
      }
      .clip-triangle {
        display: none;

        width: 577px;
        height: 538px;
        position: absolute;
        bottom: 0;
        right: 0;

      }
      //@include breakpoint (medium){
      //  padding: 85px 20px;
      //  p{
      //    margin: 0 auto;
      //    font-size: 23px;
      //    padding-bottom: 30px;
      //  }
      //}
      //@include breakpoint (wide) {
      //  overflow: visible;
      //
      //  height: 289px;
      //  .clip-triangle{
      //    display: block;
      //  }
      //}
    }
    &.ourProcess {
      background: url("images/home/process-bg.png");

      p {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-transform: none;
        font-size: 13px;
      }
      ul {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        li{
          background: none;
          border: none;
          color: #333333;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          img {
            display: block;
            position: static;
            margin: 0 auto;
          }


        }
      }
      //@include breakpoint (medium){
      //  padding-bottom: 50px;
      //  ul {
      //    li {
      //      @include span(4 of 12);
      //    }
      //  }
      //}
      //@include breakpoint (large) {
      //  h2 {
      //    font-size: 25px;
      //  }
      //  ul {
      //    li {
      //      @include span(4 of 12);
      //    }
      //
      //  }
      //
      //}
    }


    &.clients {
      position: relative;

      ul {
          overflow: hidden;
          margin: 10px 0;
          z-index: 10;
        li {
          background: none;
          color: rgba(13,13,13,0.5);
          text-align: center;

          img {
            width: 80%;
            margin: 0 auto;

            display:inline-block
          }
        }
      }
    }
  }
}