@import url(https://fonts.googleapis.com/css?family=Lato:400,700);


$breakpoints: (
        small: 480px,
        medium: 720px,
        large: 960px,
        wide: 1200px
);

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  }
  @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}





$main_purple: #300f42;
$selected_purple: #8b003d;


@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}



body {
  font-family: "Lato", "sans-serif";
  li {
    list-style: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }

  .container {
    z-index: 4;
    position: relative;
    @include container();
      @include breakpoint(small){
      @include container();
    }
    @include breakpoint(medium){
      @include container();
    }
    @include breakpoint(large){
      @include container();
    }
  }
}

.diamonds {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  min-width: 800px;
  min-height: 800px;
  position: absolute;
  display: block;
  background: rgba(20, 5, 29, 0.7);
  z-index: 3;
  span {
    position: relative;
    float: right;
    color: #ffffff;
    display: block;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);

  }
}


