@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
  font-family: "Lato", "sans-serif"; }
  body li {
    list-style: none;
    text-decoration: none; }
  body a {
    text-decoration: none; }
  body .container {
    z-index: 4;
    position: relative;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    body .container:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 480px) {
      body .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .container:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 720px) {
      body .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .container:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 960px) {
      body .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .container:after {
          content: " ";
          display: block;
          clear: both; } }

.diamonds {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  min-width: 800px;
  min-height: 800px;
  position: absolute;
  display: block;
  background: rgba(20, 5, 29, 0.7);
  z-index: 3; }
  .diamonds span {
    position: relative;
    float: right;
    color: #ffffff;
    display: block;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg); }

#nav-bar {
  height: auto;
  background: linear-gradient(#300f42, #230931);
  z-index: 5;
  position: relative; }
  #nav-bar .container {
    background: linear-gradient(#300f42, #230931);
    padding: 10px 0; }
    #nav-bar .container #logo {
      width: 41.66667%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      max-width: 197px;
      margin: 0 5px; }
    #nav-bar .container .headerButtons {
      width: 16.66667%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      margin: 5px 0;
      float: right;
      display: block; }
      #nav-bar .container .headerButtons .glyphicon-menu-hamburger, #nav-bar .container .headerButtons .glyphicon-search {
        width: 50%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        float: right;
        color: #fff;
        font-size: 19px;
        right: 0;
        position: relative; }
      #nav-bar .container .headerButtons:after {
        clear: both; }
    #nav-bar .container #navigation-menu {
      clear: both;
      margin-top: 10px;
      display: none; }
      #nav-bar .container #navigation-menu ul {
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        padding: 0; }
        #nav-bar .container #navigation-menu ul li {
          font-size: 19px;
          padding: 5px 0;
          text-align: center; }
          #nav-bar .container #navigation-menu ul li a {
            color: #fff; }
    #nav-bar .container form {
      width: 50%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      position: relative;
      color: #ffffff;
      overflow: hidden;
      margin: 7px auto;
      display: none;
      float: none; }
      #nav-bar .container form input {
        width: 83.33333%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        background: none;
        border: none;
        font-size: 16px; }
        #nav-bar .container form input:focus {
          outline: rgba(255, 255, 255, 0.6) 1px solid; }
        #nav-bar .container form input::-webkit-input-placeholder {
          color: #ffffff; }
        #nav-bar .container form input::-moz-placeholder {
          color: #ffffff; }
        #nav-bar .container form input:-moz-placeholder {
          /* Older versions of Firefox */
          color: #ffffff; }
        #nav-bar .container form input:-ms-input-placeholder {
          color: #ffffff; }
      #nav-bar .container form i {
        position: absolute;
        top: 3px; }

footer {
  position: relative;
  display: block;
  overflow: hidden;
  background: #0a0a0a; }
  footer .diamonds {
    width: 100%;
    height: 100%;
    right: 85%;
    top: -250px;
    position: absolute;
    background: rgba(33, 33, 33, 0.4); }
  footer .contactUs {
    position: relative;
    display: block;
    z-index: 4;
    color: #ffffff; }
    footer .contactUs .footer-form {
      width: 50%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding: 0 15px; }
      footer .contactUs .footer-form h3 {
        font-size: 20px;
        text-transform: uppercase; }
      footer .contactUs .footer-form input, footer .contactUs .footer-form select {
        display: block;
        width: 100%;
        margin: 8px 0;
        background: none;
        border: #ffffff solid 2px;
        padding: 5px;
        border-radius: 0;
        font-size: 3.5vw;
        text-transform: uppercase;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
        footer .contactUs .footer-form input:focus, footer .contactUs .footer-form select:focus {
          outline: #8b003d 2px solid; }
        footer .contactUs .footer-form input::-webkit-input-placeholder, footer .contactUs .footer-form select::-webkit-input-placeholder {
          text-transform: uppercase;
          color: #ffffff; }
        footer .contactUs .footer-form input:-moz-placeholder, footer .contactUs .footer-form select:-moz-placeholder {
          text-transform: uppercase;
          color: #ffffff; }
        footer .contactUs .footer-form input:-ms-input-placeholder, footer .contactUs .footer-form select:-ms-input-placeholder {
          text-transform: uppercase;
          color: #ffffff; }
      footer .contactUs .footer-form select {
        background: url("images/footer/dropdownArrow.png") 97% 50% no-repeat; }
      footer .contactUs .footer-form p {
        min-height: 34px;
        font-size: 14px;
        line-height: 15px;
        margin: 0; }
      footer .contactUs .footer-form button {
        background: #300f42;
        border: none;
        padding: 8px 25px; }
      footer .contactUs .footer-form.newsletter-form {
        float: right;
        text-align: right; }
    footer .contactUs .address {
      width: 33.33333%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      display: block; }
      footer .contactUs .address h3 {
        font-size: 18px; }
      footer .contactUs .address p {
        font-size: 12px;
        min-height: 100px; }
      footer .contactUs .address a {
        color: #ffffff;
        font-size: 2.5vw;
        max-font-size: 15px; }
        footer .contactUs .address a.tel:before {
          content: "T:";
          color: #007499; }
        footer .contactUs .address a.email:before {
          content: "E:";
          color: #007499; }

@media (min-width: 480px) {
  footer .contactUs .footer-form input, footer .contactUs .footer-form select {
    font-size: 2vw; } }
@media (min-width: 720px) {
  #nav-bar .container #logo {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  #nav-bar .container #navigation-menu ul li {
    font-size: 15px;
    text-align: center;
    width: 14.28%;
    float: left; } }
@media (min-width: 960px) {
  #nav-bar .container #logo {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  #nav-bar .container .headerButtons {
    display: none; }
  #nav-bar .container #navigation-menu {
    clear: none;
    display: block; }
    #nav-bar .container #navigation-menu ul {
      width: auto; }
      #nav-bar .container #navigation-menu ul li {
        width: 90px; } }
.content {
  position: relative; }
  .content .slider {
    position: relative;
    overflow: hidden;
    top: 0; }
    .content .slider .diamonds {
      width: 100%;
      height: 100%;
      right: 85%;
      top: -345px;
      position: absolute; }
      .content .slider .diamonds span {
        top: 8%;
        right: 0;
        font-size: 30px;
        position: fixed; }
    .content .slider img {
      position: relative;
      width: 100%;
      height: auto; }
  .content .box {
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    display: block; }
    .content .box h2 {
      color: #300f42;
      font-size: 4vw;
      text-transform: uppercase;
      font-weight: bold; }
    .content .box span {
      color: #8b003d; }
    .content .box p {
      font-size: 12px; }
    .content .box ul {
      padding: 0;
      margin: 0; }
      .content .box ul li {
        display: block;
        position: relative;
        text-align: left;
        background: linear-gradient(#300f42, #230931);
        padding: 10px;
        text-transform: uppercase;
        color: #ffffff;
        border-bottom: #ffffff 2px solid; }
        .content .box ul li:last-of-type {
          border-bottom: none; }
    .content .box.whoAreWe ul li {
      padding: 15px 10px; }
      .content .box.whoAreWe ul li .imgWrap {
        height: 100%;
        width: 40%;
        display: block;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        -webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);
        clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%); }
        .content .box.whoAreWe ul li .imgWrap:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          background: rgba(48, 15, 66, 0.5);
          -moz-transition: background .3s linear;
          -webkit-transition: background .3s linear;
          -o-transition: background .3s linear;
          transition: background .3s linear; }
        .content .box.whoAreWe ul li .imgWrap img {
          width: 100%;
          position: relative;
          display: block;
          top: -75px;
          -webkit-filter: grayscale(1);
          filter: grayscale(1); }
      .content .box.whoAreWe ul li:hover .imgWrap:before {
        background: none; }
    .content .box.testimonial {
      position: relative;
      background: url("images/home/quote-bg.png") no-repeat;
      background-size: cover;
      padding: 50px 20px;
      text-align: center;
      display: block; }
      .content .box.testimonial p {
        color: #ffffff;
        font-size: 15px; }
        .content .box.testimonial p:before {
          content: url("images/home/quote-quote.png");
          position: absolute;
          display: block;
          top: 23px;
          left: 5px; }
        .content .box.testimonial p:after {
          content: url("images/home/quote-quoteEnd.png");
          position: absolute;
          display: block;
          top: 65px;
          right: 20px; }
    .content .box.ourProcess {
      background: url("images/home/process-bg.png"); }
      .content .box.ourProcess p {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-transform: none;
        font-size: 13px; }
      .content .box.ourProcess ul {
        margin-top: 10px;
        margin-bottom: 20px; }
        .content .box.ourProcess ul li {
          background: none;
          border: none;
          color: #333333;
          text-align: center; }
          .content .box.ourProcess ul li img {
            display: block;
            position: static;
            margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
