@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
  font-family: "Lato", "sans-serif"; }
  body li {
    list-style: none;
    text-decoration: none; }
  body a {
    text-decoration: none; }
  body .container {
    z-index: 4;
    position: relative;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    body .container:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 480px) {
      body .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .container:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 720px) {
      body .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .container:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 960px) {
      body .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .container:after {
          content: " ";
          display: block;
          clear: both; } }

.diamonds {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  min-width: 800px;
  min-height: 800px;
  position: absolute;
  display: block;
  background: rgba(20, 5, 29, 0.7);
  z-index: 3; }
  .diamonds span {
    position: relative;
    float: right;
    color: #ffffff;
    display: block;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg); }

#nav-bar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  height: auto;
  background: linear-gradient(#300f42, #230931);
  padding: 10px 0;
  z-index: 5;
  position: relative; }
  #nav-bar:after {
    content: " ";
    display: block;
    clear: both; }
  #nav-bar #logo {
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    max-width: 197px;
    margin: 0 5px; }
  #nav-bar .headerButtons {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin: 5px 0;
    float: right;
    display: block; }
    #nav-bar .headerButtons .glyphicon-menu-hamburger, #nav-bar .headerButtons .glyphicon-search {
      width: 50%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      float: right;
      color: #fff;
      font-size: 19px;
      right: 0;
      position: relative; }
    #nav-bar .headerButtons .glyphicon-menu-hamburger {
      text-align: right; }
  #nav-bar #navigation-menu {
    margin-top: 10px;
    display: none; }
    #nav-bar #navigation-menu ul li {
      font-size: 19px;
      padding: 5px 0;
      text-align: center; }
      #nav-bar #navigation-menu ul li a {
        color: #fff; }
  #nav-bar form {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    position: relative;
    color: #ffffff;
    overflow: hidden;
    margin: 7px auto;
    display: none;
    float: none; }
    #nav-bar form input {
      width: 83.33333%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      background: none;
      border: none;
      font-size: 16px; }
      #nav-bar form input:focus {
        outline: rgba(255, 255, 255, 0.6) 1px solid; }
      #nav-bar form input::-webkit-input-placeholder {
        color: #ffffff; }
      #nav-bar form input::-moz-placeholder {
        color: #ffffff; }
      #nav-bar form input:-moz-placeholder {
        /* Older versions of Firefox */
        color: #ffffff; }
      #nav-bar form input:-ms-input-placeholder {
        color: #ffffff; }
    #nav-bar form i {
      position: absolute;
      top: 3px; }

footer {
  position: relative;
  display: block;
  overflow: hidden;
  background: #190624; }
  footer .diamonds {
    width: 100%;
    height: 100%;
    right: 85%;
    top: -345px;
    position: absolute; }
  footer .contactUs {
    position: relative;
    display: block;
    z-index: 4; }
    footer .contactUs .footer-form {
      width: 41.66667%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding: 0 15px; }
      footer .contactUs .footer-form input, footer .contactUs .footer-form select {
        display: block;
        width: 100%;
        margin: 5px 0;
        background: none;
        border: #ffffff solid 2px; }
        footer .contactUs .footer-form input:focus, footer .contactUs .footer-form select:focus {
          outline: #8b003d 2px solid; }
      footer .contactUs .footer-form.newsletter-form {
        float: right;
        text-align: right; }

@media (min-width: 720px) {
  #nav-bar #logo {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; } }
@media (min-width: 960px) {
  #nav-bar #logo {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; } }
.content {
  position: relative; }
  .content .slider {
    position: relative;
    overflow: hidden;
    top: 0; }
    .content .slider .diamonds {
      width: 100%;
      height: 100%;
      right: 85%;
      top: -345px;
      position: absolute; }
      .content .slider .diamonds span {
        top: 8%;
        right: 0;
        font-size: 30px;
        position: fixed; }
    .content .slider img {
      position: relative;
      width: 100%;
      height: auto; }
  .content .box {
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    display: block; }
    .content .box h2 {
      color: #300f42;
      font-size: 4vw;
      text-transform: uppercase;
      font-weight: bold; }
    .content .box span {
      color: #8b003d; }
    .content .box p {
      font-size: 12px; }
    .content .box ul {
      padding: 0;
      margin: 0; }
      .content .box ul li {
        display: block;
        position: relative;
        text-align: left;
        background: linear-gradient(#300f42, #230931);
        padding: 10px;
        text-transform: uppercase;
        color: #ffffff;
        border-bottom: #ffffff 2px solid; }
        .content .box ul li:last-of-type {
          border-bottom: none; }
    .content .box.whoAreWe ul li {
      padding: 15px 10px; }
      .content .box.whoAreWe ul li .imgWrap {
        height: 100%;
        width: 40%;
        display: block;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        -webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%);
        clip-path: polygon(13% 0, 100% 1%, 100% 100%, 13% 100%, 0% 50%); }
        .content .box.whoAreWe ul li .imgWrap:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          background: rgba(48, 15, 66, 0.5);
          -moz-transition: background .3s linear;
          -webkit-transition: background .3s linear;
          -o-transition: background .3s linear;
          transition: background .3s linear; }
        .content .box.whoAreWe ul li .imgWrap img {
          width: 100%;
          position: relative;
          display: block;
          top: -75px;
          -webkit-filter: grayscale(1);
          filter: grayscale(1); }
      .content .box.whoAreWe ul li:hover .imgWrap:before {
        background: none; }
    .content .box.testimonial {
      position: relative;
      background: url("images/home/quote-bg.png") no-repeat;
      background-size: cover;
      padding: 50px 20px;
      text-align: center;
      display: block; }
      .content .box.testimonial p {
        color: #ffffff;
        font-size: 15px; }
        .content .box.testimonial p:before {
          content: url("images/home/quote-quote.png");
          position: absolute;
          display: block;
          top: 23px;
          left: 5px; }
        .content .box.testimonial p:after {
          content: url("images/home/quote-quoteEnd.png");
          position: absolute;
          display: block;
          top: 65px;
          right: 20px; }
    .content .box.ourProcess {
      background: url("images/home/process-bg.png"); }
      .content .box.ourProcess p {
        width: 80%;
        display: block;
        margin: 0 auto;
        text-transform: none;
        font-size: 13px; }
      .content .box.ourProcess ul {
        margin-top: 10px;
        margin-bottom: 20px; }
        .content .box.ourProcess ul li {
          background: none;
          border: none;
          color: #333333;
          text-align: center; }
          .content .box.ourProcess ul li img {
            display: block;
            position: static;
            margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
